@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

body {
  font-family: "Lora", serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 30px 10px;
  margin: -10px;
  height: 20px;
}
#mainTitle {
  margin: auto;
  color: #84bee4;
  font-size: 45;
  width: 500px;
  height: 20px;
}
#patientFlex {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 32px;
}

#patientJournalFlex {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: hidden;
  padding: 10px 10px;
  margin: -10px;
  height: auto;
  width: 100%;
}

#patientJournalInstructions{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: hidden;
  padding: 10px 10px;
  margin: -10px;
  height: auto;
  width: 100%;
}

#createJournalDiv{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: hidden;
  padding: 10px 10px;
  margin: -10px;
  height: auto;
  width: 100%;
}

#notifFlex {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: hidden;
  padding: 10px 10px;
  margin: -10px;
  height: 300px;
  width: 100%;
}

/* Style the header links */
.flex-container a {
  color: #4d88ff;
  padding: 5px;
  text-decoration: none;
  height: 41px;
  line-height: 15px;
  border-radius: 2px;
  text-align: center;
  align-items: center;
}

/* Change the background color on mouse-over */
.flex-container a:hover {
  background-color: #ddd;
  color: black;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .flex-container a {
    float: none;
    display: block;
    text-align: left;
  }
  .flex-container-right {
    float: none;
  }
  .flex-container-left {
    float: none;
  }
}

h3 {
  margin: auto;
  color: black;
  font-size: 30;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 3px solid black;
  text-align: left;
  padding: 8px;
}

.content {
  padding: 24px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input, select {
  padding: 12px;
  border-radius: 6px;
  border-color: #4583df;
  transition: all 1.0s;
  outline: none;
}

button {
  border: 0px;
  padding: 14px;
  color: white;
  background-color: #4583df;
  transition: all 1.0s;
  border-radius: 6px;
}

button:hover {
  background-color: #4d88ff;
}

button:active, input:active, select:active {
  background-color: #4d88ff;
  transform: scale(0.95);
}

button span {
  font-size: 12px;
}

.card {
  all: unset;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: all 2.0s;
  margin: 32px;
  border-radius: 10px;
  padding: 16px 24px;
  position: relative;
}

.card h4 {
  margin: 0px;
  color: #4583df;
}

.card h4 b {
  margin-right: 24px;
}

.card .modifySettingsBtn {
  background-color: #4583df;
  color: white;
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  top: 16px; right: 24px;
  cursor: pointer;
  transition: all 1.0s;
}

.card .modifySettingsBtn:hover {
  background-color: #4d88ff;
}

.card .modifySettingsBtn:active {
  background-color: #4d88ff;
  transform: scale(0.95);
}

.card .cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .journalRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
